/**
 * Solarized Dark theme for reveal.js, themed for Skyline Technologies
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../../node_modules/reveal.js/css/theme/template/mixins";
@import "../../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../node_modules/reveal.js/lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #013C5B;
$base02:    lighten( $base03, 20% );//#073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #F7BE16;
$orange:    #F99F1E;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #57C9E8;
$cyan:      #59B7B3;
$green:     #81BD41;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: $base2;
$headingTextShadow: none;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $green;



// Theme template ------------------------------
@import "../../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------
